
@{
    ViewBag.Title = "Index";
}

<div class="info_container">
    <h2>How it works?</h2>
    <br />
    <ol>
        <li>You supply us with a comma separated list of artists that you are interested in keeping track of.</li>   
        <li>We store this list for you and supply you with a unique, personalized RSS feed which you can subscribe to using Outlook, Google Reader or any Newsreader that you normally use or prefer.</li>       
        <li>When your newsreader checks your RSS feed we search for the latest releases and pre-orders for all of the artists in the list you supplied to us.</li>   
        <li>If there are any new releases or pre-orders from your watched artists these will be added you your RSS feed.</li>    
        <li>The feed will provide a link to the Amazon.co.uk page containing the CD release in order for you to pre-order or purchase the item.</li>     
        <li>We will soon be covering other stores too such as Amazon MP3s, iTunes and 7 Digital.</li>       
    </ol>
</div>

