
@{
    ViewBag.Title = "Index";
}

<div class="info_container">
    <br />
    <h2>Copyright Information</h2>
    <br />
    No part of this web site may be reproduced or transmitted in any form or by any means, electronic, mechanical, photocopying, recording or otherwise, without prior permission of the myCue
    <br />
    <br />
</div>

