
@{
    ViewBag.Title = "Index";
}

<div class="info_container">
    <br />
    <h2>What stores do you search?</h2>
    At the moment we only search Amazon's UK store for CD releases but will soon be searching other stores and MP3 download sites in order for you to purchase items from the cheapest place once you've been reminded of a new pre-order or release.
    <br />
    <br />
    <h2>What is RSS?</h2>
    There is a full explanation <?echo anchor('releases/rss', "here");?>
    <br />
    <br />
    <h2>How do I change the artists in my feed?</h2>
    At the moment you can't change the artists you are watching once your feed has been set up, this feature is coming soon.  In the meantime we suggest that, if you want to change your watched artists, you unsubscribe from your current feed and create a new one.
    <br />
    <br />
    <h2>How soon do you update feeds when new releases are available?</h2>
    Amazon is searched when your newsreader looks for new content so you should be alerted as soon as stuff becomes available to pre-order.
    <br />
    <br />
    <h2>Can I use partial matches?</h2>
    No, we only search for exact matches to the artist name.  Some artists are listed under shortened names such as <strong>Wu-Tang</strong> and <strong>Wu-Tang Clan</strong>.  To make sure you get all the results you are looking for you can add all variations to your list.
    <br />
    <br />
    <h2>Why are some of the items in my feed wrong?</h2>
    The contents of our feeds are currently based on the contents of the Amazon UK database so any errors will usually be because of errors in the data that Amazon hold.
    <br />
    <br />
    <h2>Why is my feed empty?</h2>
    This means that there is nothing available by any of the artists you have asked us to keep track of for you.
    <br />
    <br />
    <h2>Can I get email alerts?</h2>
    Not at the moment, just RSS feeds.  We will be adding email alerts in due course along with a number of other new features.
    <br />
    <br />
    <h2>What features do you have planned for the future?</h2>
    We plan a number of new features in the future, some will arrive more quickly than others but include integration of more stores to provide you with the option of buying from the cheapest place, email alerts, importing your favourites from last.fm and many more features.
    <br />
    <br />
    <h2>What information do you keep about me?</h2>
    We keep absolutely no personal information about you at this stage, all lists of bands are stored anonymously.  We don't even store your email address.  Once we start supplying email alerts too then obviously we'll need to store your email address along with your name.
    <br />
    <br />
    <h2>How can I contact you?</h2>
    <a href="mailto:info@my-cue.co.uk">Email Us</a>

</div>

